@keyframes customAnimation {
  0% {
    box-shadow: 0 0 10px 5px #31a9ff;
  }
  20% {
    box-shadow: 0 0 10px 5px #31a9ff;
  }
  33% {
    box-shadow: 0 0 10px 5px #2eff2a;
  }
  53% {
    box-shadow: 0 0 10px 5px #2eff2a;
  }
  66% {
    box-shadow: 0 0 10px 5px #de40de;
  }
  86% {
    box-shadow: 0 0 10px 5px #de40de;
  }
  100% {
    box-shadow: 0 0 10px 5px #31a9ff;
  }
}

.contenedor-de-premios{
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    padding: 15px;
    justify-self: center;
    margin-left: 1rem;
    width: 55%;
}

.panel ul{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 1fr);
    list-style-type: none;
    gap: 5%;
    padding-left: 0%;
    margin: 0;
}
  
.casilla img {
  width: 100%;
  filter: grayscale(100%);
}

.contenedor-de-premios p{
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 14px;
}
